apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "cadc-tap.fullname" . }}
  labels:
    {{- include "cadc-tap.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cadc-tap.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: "server"
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cadc-tap.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: "server"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: "tap-server"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "all"
            readOnlyRootFilesystem: true
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          env:
            - name: CATALINA_OPTS
              value: >-
                -Dqservuser.jdbc.username=qsmaster
                -Dqservuser.jdbc.password=
                -Dqservuser.jdbc.driverClassName=com.mysql.cj.jdbc.Driver
                -Dqservuser.jdbc.url=jdbc:mysql://{{ .Values.qserv.host }}/
                -Dtapuser.jdbc.username=TAP_SCHEMA
                -Dtapuser.jdbc.password=TAP_SCHEMA
                -Dtapuser.jdbc.driverClassName=com.mysql.cj.jdbc.Driver
                -Dtapuser.jdbc.url=jdbc:mysql://{{ .Values.config.tapSchemaAddress }}/
                -Dca.nrc.cadc.reg.client.RegistryClient.local=true
                -Duws.jdbc.username=postgres
                -Duws.jdbc.driverClassName=org.postgresql.Driver
                -Duws.jdbc.url=jdbc:postgresql://{{ template "cadc-tap.fullname" . }}-uws-db/
                -Dca.nrc.cadc.auth.Authenticator=org.opencadc.tap.impl.AuthenticatorImpl
                -Dgafaelfawr_url=https://{{ .Values.config.gafaelfawrHost | default .Values.ingress.host }}/auth/api/v1/user-info
                -Dgcs_bucket={{ .Values.config.gcsBucket }}
                -Dgcs_bucket_url={{ .Values.config.gcsBucketUrl }}
                -Dbase_url=https://{{ .Values.ingress.host }}
                -Dca.nrc.cadc.util.PropertiesReader.dir=/etc/creds/
                -Xmx{{ .Values.config.jvmMaxHeapSize }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: "/etc/creds/google_creds.json"
            - name: DATALINK_PAYLOAD_URL
              value: "{{ .Values.config.datalinkPayloadUrl }}"
          ports:
            - containerPort: 8080
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: "google-creds"
              mountPath: "/etc/creds"
              readOnly: true
            - name: "tmp"
              mountPath: "/tmp"
      volumes:
        - name: "google-creds"
          secret:
            secretName: {{ template "cadc-tap.fullname" . }}-secret
        - name: "tmp"
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
