apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "gafaelfawr.fullname" . }}-configmap
  labels:
    {{- include "gafaelfawr.labels" . | nindent 4 }}
data:
  gafaelfawr.yaml: |
    realm: {{ .Values.host | quote }}
    loglevel: {{ .Values.loglevel | quote }}
    session_secret_file: "/etc/gafaelfawr/secrets/session-secret"
    redis_url: "redis://{{ template "gafaelfawr.fullname" . }}-redis-service.{{ .Release.Namespace }}:6379/0"
    redis_password_file: "/etc/gafaelfawr/secrets/redis-password"
    {{- if .Values.proxies }}
    proxies:
      {{- range $netblock := .Values.proxies }}
      - {{ $netblock | quote }}
      {{- end }}
    {{- end }}
    after_logout_url: "https://{{ .Values.host }}/"

    issuer:
      iss: "https://{{ .Values.host }}"
      key_id: "reissuer"
      aud:
        default: "https://{{ .Values.host }}"
        internal: "https://{{ .Values.host }}/api"
      key_file: "/etc/gafaelfawr/secrets/signing-key"
      exp_minutes: {{ .Values.issuer.exp_minutes }}
      {{- if .Values.issuer.influxdb.enabled }}
      influxdb_secret_file: "/etc/gafaelfawr/secrets/influxdb-secret"
      {{- if .Values.issuer.influxdb.username }}
      influxdb_username: {{ .Values.issuer.influxdb.username | quote }}
      {{- end }}
      {{- end }}

    {{- if .Values.github }}

    github:
      client_id: {{ .Values.github.client_id | quote }}
      client_secret_file: "/etc/gafaelfawr/secrets/github-client-secret"

    {{- else if .Values.cilogon }}

    oidc:
      client_id: {{ .Values.cilogon.client_id | quote }}
      client_secret_file: "/etc/gafaelfawr/secrets/cilogon-client-secret"
      {{- if .Values.cilogon.test }}
      login_url: "https://test.cilogon.org/authorize"
      token_url: "https://test.cilogon.org/oauth2/token"
      issuer: "https://test.cilogon.org"
      {{- else }}
      login_url: "https://cilogon.org/authorize"
      token_url: "https://cilogon.org/oauth2/token"
      issuer: "https://cilogon.org"
      {{- end }}
      {{- if .Values.cilogon.login_params }}
      login_params:
        {{- range $key, $value := .Values.cilogon.login_params }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
      {{- if .Values.cilogon.redirect_url }}
      redirect_url: {{ .Values.cilogon.redirect_url | quote }}
      {{- else }}
      redirect_url: "https://{{ .Values.host }}/login"
      {{- end }}
      scopes:
        - "email"
        - "org.cilogon.userinfo"
      audience: {{ .Values.cilogon.client_id | quote }}
      key_ids:
        - "244B235F6B28E34108D101EAC7362C4E"

    {{- end }}

    {{- if .Values.oidc_server.enabled }}
    oidc_server_secrets_file: "/etc/gafaelfawr/secrets/oidc-server-secrets"
    {{- end }}

    known_scopes:
      {{- range $key, $value := .Values.known_scopes }}
      {{ $key | quote }}: {{ $value | quote }}
      {{- end }}

    group_mapping:
      {{- range $key, $value := .Values.group_mapping }}
      {{ $key | quote }}:
        {{- range $group := $value }}
        - {{ $group | quote }}
        {{- end }}
      {{- end }}
