apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mobu.fullname" . }}
  labels:
{{ include "mobu.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mobu.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "mobu.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      automountServiceAccountToken: false
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.pull_secret }}
      imagePullSecrets:
      - name: {{ .Values.pull_secret }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ALERT_HOOK
              valueFrom:
                secretKeyRef:
                  name: {{ template "mobu.fullname" . }}-mobu-secret
                  key: ALERT_HOOK
            - name: PRIVATE_KEY_PATH
              value: "/etc/secrets/signing-key"
            - name: ENVIRONMENT_URL
              value: {{ .Values.environment_url }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /mobu/user
              port: http
          readinessProbe:
            httpGet:
              path: /mobu/user
              port: http
          volumeMounts:
            - name: tmp
              mountPath: "/tmp"
            - name: {{ template "mobu.fullname" . }}-gafaelfawr-secret
              mountPath: "/etc/secrets"
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        - name: {{ template "mobu.fullname" . }}-gafaelfawr-secret
          secret:
            secretName: {{ template "mobu.fullname" . }}-gafaelfawr-secret
