apiVersion: v1
kind: Service
metadata:
  name: {{ include "portal.fullname" . }}
  labels:
    {{- include "portal.labels" . | nindent 4 }}
spec:
  type: "ClusterIP "
  ports:
    - protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    {{- include "portal.selectorLabels" . | nindent 4 }}
