apiVersion: ricoberger.de/v1alpha1
kind: VaultSecret
metadata:
  name: {{ .Values.vault_secret_name }}
spec:
  path: {{ .Values.vault_secret_path }}
  type: Opaque

  templates:
    {{- /* dump in values.yaml for jupyterhub, without changing it */}}
    {{- /* this is copied from the zero-to-jupyterhub chart where it does this */}}
    {{- $values := merge dict .Values.jupyterhub }}
    {{- /* passthrough subset of Chart / Release */}}
    {{- $_ := set $values "Chart" (dict "Name" .Chart.Name "Version" .Chart.Version) }}
    {{- $_ := set $values "Release" (pick .Release "Name" "Namespace" "Service") }}
    values.yaml: {{ $values | toYaml | quote }}

    {{- /* dump in the rest of the keys in this path and their values */}}
    {{- /* this uses the templating provided by vault-secrets-operator */}}
    hub.db.password: "{% .Secrets.hub_db_password %}"
    hub.config.JupyterHub.cookie_secret: "{% .Secrets.crypto_key %}"
    hub.config.CryptKeeper.keys: "{% .Secrets.cryptkeeper_key %}"
    hub.config.ConfigurableHTTPProxy.auth_token: "{% .Secrets.proxy_token %}"
