kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "moneypenny.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups: [""]
  resources: [ "pods" ]
  verbs: ["get", "create",  "delete"]  
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["create",  "delete"]
