apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "datalinker.fullname" . }}
  labels:
    {{- include "datalinker.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "datalinker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "datalinker.selectorLabels" . | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      imagePullSecrets:
        - name: "pull-secret"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
            readOnlyRootFilesystem: true
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            # The following are used by Butler to retrieve its configuration
            # and authenticate to its database.
            - name: "AWS_SHARED_CREDENTIALS_FILE"
              value: "/tmp/secrets/aws-credentials"
            - name: "PGPASSFILE"
              value: "/tmp/secrets/postgres-credentials"
            - name: "S3_ENDPOINT_URL"
              value: "https://storage.googleapis.com"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: "butler-secret"
              mountPath: "/etc/butler/secrets"
            - name: "tmp"
              mountPath: "/tmp"
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: "butler-secret"
          secret:
            secretName: {{ template "datalinker.fullname" . }}-butler-secret
        - name: "tmp"
          emptyDir: {}
