# Default values for cadc-tap.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# Version tag of all images to use.
tag: "1.0"

gcs_bucket: ""
gcs_bucket_url: ""

vault_secrets:
  # Use the vault-secrets-operator to load secrets from vault
  # instead of creating them from values here.
  enabled: false

  # Path to load secrets for in the vault.
  path: ""

secrets:
  # Create a normal k8s secret using the values provided here.
  # Even if you don't have these secrets, you still need to have
  # either secrets.enabled or vault_secrets.enabled.
  enabled: true

  # GCE service account credential JSON file, base64 encoded.
  # You can also pass this in using --set-file secrets.google_creds=google_creds.json
  # on the command line, to allow not checking it in.
  google_creds: ""

# Settings for the ingress rules.
ingress:
  # Force SSL, which is used in annotations and rewriting redirects.
  ssl: true
  # Additional annotations to use for endpoints that allow anonymous
  # access, such as /capabilities, /availability
  anonymous_annotations: {}
  # Additional annotations to use for endpoints that are authenticated,
  # such as /sync, /async, /tables
  authenticated_annotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

aux_resources: {}
  # Same for resources, but for the non-main TAP service services (such as databases).

nodeSelector: {}

tolerations: []

affinity: {}
