# Default values for the Portal Aspect.

# -- Number of pods to start
replicaCount: 1

# -- Override the base name for resources
nameOverride: ""

# -- Override the full name for resources (includes the release name)
fullnameOverride: ""

image:
  # -- Portal image to use
  repository: "ipac/suit"

  # -- Pull policy for the Portal image
  pullPolicy: "IfNotPresent"

  # -- Tag of Portal image to use
  # @default -- The appVersion of the chart
  tag: ""

# -- Secret names to use for all Docker pulls
imagePullSecrets: []

ingress:
  # -- Hostname for the ingress
  # @default -- None, must be set
  host: ""

  # -- Gafaelfawr auth query string
  gafaelfawrAuthQuery: "scope=exec:portal&delegate_to=portal&delegate_scope=read:tap"

  # -- Additional annotations to add to the ingress
  annotations: {}

# -- Resource limits and requests. The Portal will use (by default) 93% of
# container RAM.  This is a smallish Portal; tweak it as you need to in
# instance definitions in Phalanx.
resources:
  limits:
    cpu: 2.0
    memory: "6Gi"

# -- Annotations for the Portal pod
podAnnotations: {}

# -- Node selector rules for the Portal pod
nodeSelector: {}

# -- Tolerations for the Portal pod
tolerations: []

# -- Affinity rules for the Portal pod
affinity: {}

# -- Security context for the Portal pod
securityContext: {}

# -- Path to the Vault secret (`secret/k8s_operator/<host>/portal`, for
# example)
# @default -- None, must be set
vaultSecretsPath: ""

config:
  # -- Set to `TRUE` to enable service debugging
  debug: "FALSE"

  # -- How long results should be retained before being deleted
  cleanupInterval: "36h"

  # -- Search path for FITS files
  visualizeFitsSearchPath: "/datasets"

  volumes:
    # -- hostPath to mount as a shared work area.  Set either this or
    # `workareaNfs`, not both.
    # @default -- Use an `emptyDir`
    workareaHostPath: ""

    # -- NFS information for a shared work area.  If set, must have keys for
    # path and server.  Set either this or `workareaHostPath`, not both.
    # @default -- Use an `emptyDir`
    workareaNfs: {}

    # -- hostPath to mount as configuration.  Set either this of
    # `configNfs`, not both.
    # @default -- Use an `emptyDir`
    configHostPath: ""

    # -- NFS information for a configuration.  If set, must have keys for path
    # and server, Set either this of `configHostPath`, not both.
    # @default -- Use an `emptyDir`
    configNfs: {}

redis:
  image:
    # -- Redis image to use
    repository: "redis"

    # -- Redis image tag to use
    tag: "6.2.6"

    # -- Pull policy for the Redis image
    pullPolicy: "IfNotPresent"

  # -- Resource limits and requests
  resources:
    limits:
      memory: "20Mi"

  # -- Pod annotations for the Redis pod
  podAnnotations: {}

  # -- Node selection rules for the Redis pod
  nodeSelector: {}

  # -- Tolerations for the Redis pod
  tolerations: []

  # -- Affinity rules for the Redis pod
  affinity: {}
