# Default values for Redis.

# -- Override the base name for resources
nameOverride: ""

# -- Override the full name for resources (includes the release name)
fullnameOverride: ""

image:
  # -- Redis image to use
  repository: "redis"

  # -- Redis image tag to use
  tag: "7.2.1"

  # -- Pull policy for the Redis image
  pullPolicy: "IfNotPresent"

config:
  # -- Name of secret from which to get the Redis password. If set,
  # `config.secretKey` must also be set.
  # @default -- Do not require authentication
  secretName: ""

  # -- Key inside secret from which to get the Redis password. If set,
  # `config.secretName` must also be set.
  # @default -- Do not require authentication
  secretKey: ""

persistence:
  # -- Whether to persist Redis storage and thus tokens. Setting this to false
  # will use `emptyDir` and reset all tokens on every restart.
  enabled: true

  # -- Amount of persistent storage to request
  size: "1Gi"

  # -- Class of storage to request
  storageClass: ""

  # -- Access mode of storage to request
  accessMode: "ReadWriteOnce"

  # -- Use an existing PVC, not dynamic provisioning. If this is set, the
  # size, storageClass, and accessMode settings are ignored.
  volumeClaimName: ""

# -- Resource limits and requests for the Redis pod
resources: {}

# -- Annotations for the Redis pod
podAnnotations: {}

# -- Node selector rules for the Redis pod
nodeSelector: {}

# -- Tolerations for the Redis pod
tolerations: []

# -- Affinity rules for the Redis pod
affinity: {}
