{{ range $idx, $username := .Values.superusers }}
---
apiVersion: kafka.strimzi.io/{{ $.Values.strimziAPIVersion }}
kind: KafkaUser
metadata:
  name: {{ $username }}
  labels:
    strimzi.io/cluster: {{ $.Values.cluster.name }}
spec:
  authentication:
    type: scram-sha-512
  authorization:
    type: simple
    acls:
      - resource:
          type: topic
          name: "*"
          patternType: literal
        type: allow
        host: "*"
        operation: All
{{ end }}
